/* Navbar*/

.navbar {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav-link {
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
    opacity: .75;
    transition: opacity .1s linear;
}

.nav-link:hover {
    text-decoration: underline;
}


/* Intro*/

.intro {
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    background: url("images/w8.jpg") center no-repeat;
    background-size: cover;
}

.intro-inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}

.intro-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.intro-title1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    color: white;
    font-weight: 700;
    text-align: center;
    line-height: 1.1;
    margin: 0 0 30px;
}

.intro_subtitle {
    font-size: 22px;
    color: white;
    line-height: 1.5;
    margin-bottom: 60px;
}


/*Features*/

.features {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.features_item {
    width: 33.33333%;
    text-align: center;
    padding: 0 40px;
    margin: 25px 0;
}

.features_icon {
    font-size: 25px;
}

.features_title {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
}

.features_text {
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
}


/*Footer*/

.footer {
    padding: 40px 0;
    background-color: #313552;
}

.footer-block {
    width: 80%;
    text-align: justify;
}

.footer-title {
    margin-bottom: 5px;
    font-size: 14px;
    color: #ffff;
    text-transform: uppercase;
}

.footer-address {
    text-align: justify;
    color: rgba(255, 255, 255, 0.5);
    font-style: normal;
    font-size: 14px;
    line-height: 1.5;
}


/*Самый нижний контейнер */

.copyright {
    padding: 10px 0;
    background-color: #2d3033;
}

.copyright-text {
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    line-height: 1.5;
}
